<article id="post-{{ post.id }}" class="util-padding-bottom-md">
	<h4>
		<a href="{{ post.link }}">{{ post.title }}</a>
	</h4>
	<div>
    {{ post.preview ? post.preview : post.content }}
	</div>
</article>
