<footer class="cmp-sticky-footer">
	<div class="obj-width-limiter">
		<p>
			&copy;
			{{ 'now'|date('Y') }}
			<span aria-hidden="true">&nbsp;|&nbsp;</span>
			<a href="{{ function('get_privacy_policy_url') }}">
				Privacy Policy
			</a>
		</p>
		{{ footer_widget }}
	</div>
</footer>
