{% extends "index.twig" %}

{% block posts_found %}
  <h1>{{ title }}</h1>
  {% for post in posts %}
    {% include 'partials/content-search.twig' with { post: post} %}
  {% endfor %}

  {% include 'partials/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
{% endblock %}
