{% extends "base.twig" %}

{% block content %}
  <div class="obj-width-limiter util-padding-y-md">
    {% if posts.found_posts %}
      <h1>{{ title }}</h1>
      {% for post in posts %}
        {% include 'partials/content-search.twig' with { post: post} %}
      {% endfor %}
    {% else %}
      {% include 'partials/content-none.twig' %}
    {% endif %}
  </div>
{% endblock %}
